<app-country-search-input
  placeholder="Buscar por pais"
  (value)="this.query.set($event)"
  [debounceTime]="1000"
  [initialValue]="query()"
></app-country-search-input>

<app-country-list
  [countries]="countryResource.value() ?? []"
  [errorMessage]="countryResource.error()"
  [isEmpty]="countryResource.value()?.length === 0"
  [isLoading]="countryResource.isLoading()"
>
</app-country-list>

<!-- <app-country-list [countries]="[]"></app-country-list> -->

<!-- @if(countryResource.error()){
  <h3>{{ countryResource.error() }}</h3>
}
@if(countryResource.hasValue()) {
  <app-country-list [countries]="countryResource.value()!"></app-country-list>
} -->
