/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }

  }
}
